@import '../../lib/variables';
@import '../../lib/buttons';
@import '../../pages/tablet/proyect.scss';

.proyect__container{
    width: 100vw;
    display: grid;
    grid-template-rows: auto auto;
}

.proyect__header__container{
    width: 100%;
    height: 380px;
    background: $overlay;
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-sizing: border-box;
}

.proyect__header__imagecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.proyect__header__description{
    color: white;
    padding-left: 7em;
    padding-top: 4em;
    box-sizing: border-box;
    padding-right: 1em;

    span{
        display: inline-block;
    }
    button{
        @extend %button;
        margin-top: 2em;
        &:nth-of-type(1){
            margin-right: 3em;
        }
    }
}

.proyect__header__image{
    width: 50%;
    min-height: 70%;
    border-radius: 5px;
    box-sizing: border-box;
    background: #1b1a1a99;
    padding-bottom: 1em;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    letter-spacing: 1px;
    color: $white;
}

.proyect__badge__container{
    width: 100%;
    height: 440px;
    display: grid;
    grid-template-columns: 440px 1fr;
    align-items: center;
    justify-items: center;
    padding: 1em 2em;
    box-sizing: border-box;
}

@include tablet;