@import "../../lib/variables";
@import "../../lib/buttons";
@import "../../lib/list";
@import "../movile/proyects";
@import "../tablet/proyects";

.proyects__layout{
    background-color: white;
    min-width: 100vw;
    display: grid;
    grid-template-areas: "hero hero"
                          "side list";
    grid-template-rows: 350px auto;
    grid-template-columns: 350px auto;
}

.proyects__hero{
    grid-area: hero;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    background: $overlay;
    font-style: weight;
    color: $white;
    border: none;
    padding-left: .5em;
    font-family: 'Source Serif Pro';
    letter-spacing: 2px;
}

.proyects__hero div{
    position: relative;
}

.proyects__hero .written{
    display: inline-block;
    width: 100%;
    right: 0;
    position: absolute;
    background: $overlay;
    animation: written .6s steps(9);
    animation-fill-mode: forwards;
    animation-delay: .2s;
}

.proyects__side{
    grid-area: side;
    background: $brand;
}

.proyects__list{
    grid-area: list;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    padding: 1em 2em 0em 0em;
    overflow: scroll;
}

.proyects__list__skills{
    display: flex; 
    justify-content: flex-end;
}

.list__button-skills{
  @extend %button;
  height: 35px;
  width: 400px;
  border: none;
}

@include tablet;
@include movile;

