@import "../../lib/breakpoints.scss";

@mixin tablet{
    .proyect__header__imagecontainer{
        @media only screen and(max-width: $tablet){
            display: none;
            visibility: hidden;
        }
    }
    .proyect__header__container{
        @media only screen and(max-width: $tablet){
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
        }
    }

    .proyect__header__description{
        @media only screen and(max-width: $tablet){
            padding: 0 4em;
            margin-top: -60px;
        }
    }
}